$open-sans: Open Sans Light, sans-serif;
$body-color: #f6f6f6;

body {
	font: 12px $open-sans;
    background: $body-color;
    width: 100%;
	overflow-x: hidden;
}
a {
	text-decoration: none;
    cursor: pointer;
}
button {
    cursor: pointer;
}