/* Fonts */
$open-sans: Open Sans Light, sans-serif;
$opensans-bold: Open Sans, sans-serif;
$oswald: Oswald Regular, serif;

/* Files */

@import "reset";
@import "base";
@import "fonts";

/* Colors */

$photo-color: #eaf2f4;
$black: #2c303d;
$red: #ce2c52;
$green: #8ae6cf;
$blue: #2c87ce;
$white: #fff;

/* Media Queries */
$tablet: "(max-width: 940px)";
$tablet-small: "(max-width: 715px)";
$mobile: "(max-width: 695px)";
$mobile-small: "(max-width: 399px)";

@mixin respond-to($media) {
    @media only screen and #{$media} {
        @content;
    }
}



.container {
	width: 835px;
	margin: 0 auto;
	display: table;
	padding-right: 50px;
    padding-left: 50px;
    margin-right: auto;
    margin-left: auto;
	
	@include respond-to($tablet) {
		width: 640px;
		padding-right: 38px;
		padding-left: 38px;
	}
	
	@include respond-to($mobile) {
		width: 320px;
		padding-right: 38px;
		padding-left: 38px;
	}
	
	@include respond-to($mobile-small) {
		min-width: 320px;
		padding-right: 5px;
		padding-left: 5px;
	}
	
	.strike {
		text-decoration: line-through;
	}
	
	.non-strike {
		text-decoration: line-through;
		
		@include respond-to($tablet) {
			text-decoration: none;
		}
	}
	
	.cart {
		padding: 30px 0 70px 0;
		display: table;
		position: relative;
		
		@include respond-to($tablet) {
			padding: 95px 0 60px 0;
		}
		
		@include respond-to($mobile) {
			padding: 125px 0 85px 0;
		}
		
		@include respond-to($mobile-small) {
			padding: 80px 0 50px 0;
		}
		
		.cart-row {
			display: table-row;
		
			.photo-cart {
				display: table-cell;
				width: 398px;
				height: 420px;
				vertical-align: middle;
				
				@include respond-to($tablet) {
					width: 335px;
					height: 355px;
					padding-bottom: 80px;
				}
				
				@include respond-to($mobile) {
					display: block;
					width: 400px;
					height: 420px;
					padding-bottom: 0;
					margin-left: -38px;
					margin-right: -38px;
				}
				
				@include respond-to($mobile-small) {
					display: block;
					width: 320px;
					height: 340px;
					padding-bottom: 0;
					margin-left: 0px;
					margin-right: 0px;
				}
				
				.photo-background {
					background: $photo-color;
					
					img {
						width: 326px;
						height: 414px;
						position: relative;
						top: -10px;
					
						@include respond-to($tablet) {
							width: 263px;
							height: 349px;
						}
						
						@include respond-to($mobile) {
							width: 326px;
							height: 414px;
						}
						
						@include respond-to($mobile-small) {
							width: 263px;
							height: 349px;
						}
					}
				}
				
			}
			
			.info-cart {
				display: table-cell;
				padding-left: 55px;
				
				@include respond-to($tablet) {
					padding-left: 20px;
				}
				
				@include respond-to($mobile) {
					display: block;
					padding-left: 0;
				}
				
				.cart-title {
					font: 24px $oswald;
					font-weight: bold;
					text-transform: uppercase;
					letter-spacing: 0.5px;
					color: $black;
					margin-top: -10px;
					
					@include respond-to($tablet) {
						position: absolute;
						left: 0px;
						top: 35px;
						margin-top: 0;
					}
					
					@include respond-to($mobile) {
						width: 260px;
						left: 0px;
					}
					
					@include respond-to($mobile-small) {
						left: 0px;
						width: 100%;
						top: 20px;
					}
				}
				
				.cart-item {
					font: 10px $open-sans;
					color: #2c303d;
					padding: 15px 0 20px 0;
					
					@include respond-to($tablet) {
						padding: 0 0 5px 0;
						font: 11px $open-sans;
					}
					
					@include respond-to($mobile) {
						font: 12px $open-sans;
						padding: 15px 0 10px 0;
					}
					
					@include respond-to($mobile-small) {
						font: 12px $open-sans;
						padding: 30px 0 10px 0;
					}
				}
				
				.price {
					font: 24px $opensans-bold;
					font-weight: bold;
					padding-bottom: 15px;
					
					@include respond-to($tablet) {
						font: 36px $opensans-bold;
						padding-bottom: 5px;
					}
				}
				
				.cart-price {
					color: $black;
				}
				
				.old-cart-price {
					padding-left: 20px;
					color: $red;
				}
				
				.cart-share {
					display: table;
					
					@include respond-to($mobile) {
						display: inline-block;
						height: 80px;
					}
					
					.share-row {
						display: table-row;
						
						@include respond-to($mobile) {
							display: block;
						}
						
						.cart-rating {
							display: table-cell;
							vertical-align: middle;
							
							#stars input:checked ~ label, #stars label, #stars label:hover, #stars label:hover ~ label {
								background: url("../img/stars.png") no-repeat;
							}
							
							#stars {
								overflow: hidden;
								*zoom: 1;
								position: relative;
								float: left;
								
								#star-1 {
								left: 0px;
								}
								#star-2 {
									left: 18px;
								}
								#star-3 {
									left: 36px;
								}
								#star-4 {
									left: 54px;
								}
								#star-5 {
									left: 72px;
								}
								#star-6 {
									left: 90px;
								}
							}
							
							#stars input {
								filter:
							progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
								opacity: 0;
								width: 18px;
								height: 18px;
								position: absolute;
								top: 0;
								z-index: 0;
							}
							
							#stars input:checked ~ label {
								background-position: 0 -18px;
								height: 18px;
								width: 18px;
							}
							
							#stars label {
								background-position: 0 0;
								height: 18px;
								width: 18px;
								float: right;
								cursor: pointer;
								position: relative;
								z-index: 1;
							}
							
							#stars label:hover, #stars label:hover ~ label {
								background-position: 0 -18px;
								height: 18px;
								width: 18px;
							}
						}
						
						.share {
							display: table-cell;
							font: 18px $opensans-bold;
							color: $blue;
							padding-left: 15px;
							
							span {
								@include respond-to($tablet) {
									display: none;
								}
							}
							
							a {
								color: $blue;
							}
							
							.modal {
								position: absolute;
								top: 0px;
								left: 455px;
								z-index: 10000;
								opacity: 0;
								pointer-events: none;
								width: 300px;
								height: 100px;
								
								@include respond-to($tablet) {
									opacity: 1;
									pointer-events: auto;
								}
								
								
								a[href="#close"] {
									position: absolute;
									right: 25px;
									top: 10px;
									color: transparent;
									
									@include respond-to($tablet) {
										display: none;
									}
								}
								
								
								a[href="#close"]:focus {
									outline: none;
								}
								
								.text {
									@include respond-to($tablet) {
										display: none;
									}
								}
								
								.arrow {
									width: 18px;
									height: 18px;
									position: absolute;
									top: -9px;
									left: 50%;
									margin-left: -9px;
									background-image: url("../img/arrow.png");
									background-repeat: no-repeat;
									
									@include respond-to($tablet) {
										display: none;
									}
								}

							}
							
							.modal:target {
								opacity: 1;
								pointer-events: auto;
							}
							.modal > div {
								width: 265px;
								background: $white;
								position: absolute;
								top: 195px;
								padding: 10px 15px 10px 15px;
								-webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.7);
								-moz-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.7);
								box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.7);
								
								@include respond-to($tablet) {
									background: transparent;
									-webkit-box-shadow: none;
									-moz-box-shadow: none;
									box-shadow: none;
									left: -151%;
									top: 90%;
									width: 40px;
								}
								
								@include respond-to($mobile) {
									width: 265px;
									top: 665%;
									padding-left: 0;
								}
								
								@include respond-to($mobile-small) {
									width: 265px;
									top: 555%;
									padding-left: 0;
								}
							}
							
							.modal:target > div {
								-webkit-animation-name: bounce;
								
								@include respond-to($tablet) {
									-webkit-animation-name: none;
								}
							}
							
							@-webkit-keyframes bounce {
								0% {
									-webkit-transform: scale3d(0.1,0.1,1);
									-webkit-box-shadow: 0 3px 20px rgba(0,0,0,0.9);
								}
								55% {
									-webkit-transform: scale3d(1.08,1.08,1);
									-webkit-box-shadow: 0 10px 20px rgba(0,0,0,0);
								}
								75% {
									-webkit-transform: scale3d(0.95,0.95,1);
									-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.9);
								}
								100% {
									-webkit-transform: scale3d(1,1,1);
									-webkit-box-shadow: 0 3px 20px rgba(0,0,0,0.9);
								}
							}
							
							.buttons-share {
								width: 270px;
								
								@include respond-to($tablet) {
									width: 40px;
								}
								
								@include respond-to($mobile) {
									width: 270px;
								}
								
								.social {
									display: inline-block;
									margin-top: 10px;
									width: 41px;
									height: 41px;
									padding-right: 10px;
									
									img {
										border-radius: 50%;
									}
									
									img:hover {
										background-color: $green;
										border-radius: 50%;
										-webkit-transition: all 0.1s ease-in;
										-moz-transition: all 0.1s ease-in;
										transition: all 0.1s ease-in;
									}
								}
									
								.social-i {
									padding-right: 0;
								}
							}
						}
					}
				}
				
				.cart-description-title {
					display: none;
					font: 14px $opensans-bold;
					font-weight: bold;
					color: $black;
					text-transform: uppercase;
					padding-top: 25px;
						
					@include respond-to($tablet) {
						display: block;
					}
					
					@include respond-to($mobile) {
						display: none;
					}
				}
				
				.cart-description {
					font: 12px $open-sans;
					color: $black;
					padding: 15px 0 15px 0;
					width: 95%;
					
					@include respond-to($tablet) {
						padding: 10px 0 30px 0;
						width: 95%;
					}
					
					@include respond-to($mobile) {
						font: 14px $open-sans;
						padding: 30px 0 40px 0;
						width: 90%;
					}
				}
				
				.cart-size {
					display: table;
					
					.size-title-hide {
						display: none;
						font: 14px $opensans-bold;
						font-weight: bold;
						color: $black;
						text-transform: uppercase;
						vertical-align: middle;
						padding-bottom: 15px;
						letter-spacing: 1px;
								
						@include respond-to($tablet) {
							display: block;
						}
						
						@include respond-to($mobile) {
							display: block;
							font: 20px $opensans-bold;
							text-align: center;
							width: 320px;
							padding-bottom: 20px;
						}
						
						@include respond-to($mobile-small) {
							width: 280px;
						}
					}
					
					.size-row {
						display: table-row;
						
						.size-title {
							display: table-cell;
							font: 14px $opensans-bold;
							font-weight: bold;
							color: $black;
							text-transform: uppercase;
							vertical-align: middle;
							
							@include respond-to($tablet) {
								display: none;
							}
						}
						
						.size-photo {
							display: table-cell;
							padding-left: 15px;
							text-transform: uppercase;
							font: 10px $opensans-bold;
							
							@include respond-to($tablet) {
								padding-left: 0;
							}
							
							@include respond-to($mobile) {
								text-align: center;
								width: 320px;
							}
							
							@include respond-to($mobile-small) {
								text-align: center;
								width: 280px;
							}
							
							a {
								box-sizing: border-box;
								width: 40px;
								height: 40px;
								display: inline-block;
								text-align: center;
								border-radius: 50%;
								background-color: $white;
								border: 1px solid $black;
								vertical-align: middle;
								line-height: 40px;
								color: $black;
								margin-right: 10px;
								
								@include respond-to($tablet) {
									margin-right: 18px;
								}
								
								@include respond-to($mobile) {
									margin-right: 25px;
								}
							}
							
							.checked-size {
								color: $white;
								background-color: $black;
								
								@include respond-to($mobile) {
									margin-right: 0;
								}
							}
							
							a:hover {
								color: $white;
								background-color: $black;
								transition: all 0.2s ease-in;
							}
							
							.pad-right {
								padding-right: 0;
									
								@include respond-to($mobile) {
									padding-right: 0 !important;
								}
							}
						}
					}
				}
				
				.cart-button {
					@include respond-to($mobile) {
						margin-top: 30px;	
						width: 320px;
					}
					
					@include respond-to($mobile-small) {	
						width: 280px;
					}
				
					button[name="add"] {
						display: block;
						width: 214px;
						height: 44px;
						text-transform: uppercase;
						margin-top: 20px;
						line-height: 22px;
						background-color: $green;
						border-radius: 25px;
						border: none;
						font: 14px $opensans-bold;
						color: $black;
						vertical-align: middle;
						
						@include respond-to($tablet) {
							width: 222px;
							height: 46px;
							line-height: 23px;
							font: 18px $opensans-bold;
							letter-spacing: 2px;
						}
						
						@include respond-to($mobile) {
							margin: 0 auto;	
							text-align: center;
							width: 280px;
							height: 58px;
							border-radius: 45px;
						}
					}
					
					button[name="add"]:hover {
						background-color: $red;
						transition: all 0.3s ease-in;
					}
				}
			}
		}
	}
	
	.like-grid {
		
		.title-grid {
			font: 22px $opensans-bold;
			text-transform: uppercase;
			letter-spacing: 2px;
			color: $black;
			padding-bottom: 20px;
			
			@include respond-to($tablet) {
				text-align: center;
				padding-bottom: 35px;
			}
			
			@include respond-to($tablet-small) {
				text-align: center;
				padding-bottom: 15px;
			}
			
			@include respond-to($mobile) {
				font: 24px $opensans-bold;
				text-align: center;
				width: 320px;
				padding-bottom: 20px;
			}
			
			@include respond-to($mobile-small) {
				font: 22px $opensans-bold;
				width: 280px;
			}
		}
			
		.carousel-wrapper {
		
			@include respond-to($tablet-small) {
				text-align: center;
			}
			
			@include respond-to($mobile) {
				display: block;
				width: 280px;
				text-align: center;
				position: relative;
				margin-left: 20px;
				padding-bottom: 20px;
			}
			
			.carousel-item {
				display: inline-block;
				width: 30.8%;
				margin-bottom: 18px;
				margin-right: 19px;
				position: relative;
				box-sizing: border-box;
				
				@include respond-to($tablet) {
					width: 43.8%;
					margin-bottom: 36px;
					margin-right: 38px;
				}
				
				@include respond-to($tablet-small) {
					width: 37%;
					margin-bottom: 20px;
					margin-right: 23px;
				}
				
				@include respond-to($mobile) {
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					opacity: 0;
					transition: all 0.5s ease-in-out;
					margin-bottom: 20px;
					margin-right: 0;
					width: 100%;
				}
				
				.arrow {
					display: none;
					
					@include respond-to($mobile) {
						position: absolute;
						top: 0;
						display: block;
						width: 50px;
						height: 100%;
						-webkit-tap-highlight-color: rgba(0,0,0,0);
						background: url("../img/left.png") 50% 50% / 30px no-repeat;

						&.arrow-prev {
							left: -50px;
						}
						  
						&.arrow-next {
							right: -50px;
							-webkit-transform: rotate(180deg);
									transform: rotate(180deg);
						}
					}
					
					@include respond-to($mobile-small) {
						width: 30px;
						background: url("../img/left.png") 50% 50% / 20px no-repeat;
						
						&.arrow-prev {
							left: -30px;
						}
						  
						&.arrow-next {
							right: 0px;
							-webkit-transform: rotate(180deg);
									transform: rotate(180deg);
						}
					}
				}

				a {
					padding: 0;
				
				img {
					display: table-cell;
					display: block;
					width: 265px;
					height: 265px;
							
					@include respond-to($tablet) {
						width: 300px;
						height: 285px;
					}
							
					@include respond-to($tablet-small) {
						width: 240px;
						height: 228px;
					}
							
					@include respond-to($mobile) {
						width: 280px;
						height: 265px;
						position: relative;
					}
					
					@include respond-to($mobile-small) {
						width: 250px;
						height: 260px;
						position: relative;
					}
				}
				
				
				.price-grid {
					position: absolute;
					display: inline-block;
					background: $green;
					z-index: 10;
					font: 14px $opensans-bold;
					letter-spacing: 1px;
					color: $black;
					padding: 0 5px 0 5px;
					height: 20px;
					right: -8.5px;
					bottom: 20px;
					letter-spacing: 1px;
					
					@include respond-to($tablet) {
						width: 300px;
						opacity: 0.7;
						height: 30px;
						vertical-align: middle;
						font: 22px $opensans-bold;
						text-align: center;
						bottom: 0;
						left: 0;
						padding: 0;
						letter-spacing: 2px;
					}
					
					@include respond-to($tablet-small) {
						width: 240px;
						bottom: 0;
						font: 18px $opensans-bold;
						line-height: 30px;
					}
					
					@include respond-to($mobile) {
						width: 280px;
						font: 18px $opensans-bold;
						padding-top: 5px;
						bottom: 0;
						height: 30px;
						left: 0;
						opacity: 0.7;
					}
					
					@include respond-to($mobile-small) {
						width: 250px;
					}
				}
				
				.non-strike {
					text-decoration: none;
				}
				
				.strike, .non-strike {
					@include respond-to($tablet) {
						display: none;
					}
				}
					
				.old-price-grid {
					color: $red;
					padding-left: 15px;
					
					@include respond-to($tablet) {
						padding-left: 0;
					}
				}
				
				.new {
					display: none;
					
					@include respond-to($tablet) {
						display: block;
					}
				}
				
				.hidden {
					@include respond-to($tablet) {
						display: none;
					}
				}
				
				.col-pd {
					right: -8px;
				}
				
				.col-lg {
					right: -8px;
				}
				}	
			}
			
			@include respond-to($mobile) {
				[id^="target-item"] {
						display: none;
					}
					
				.item-1 {
					z-index: 2;
					opacity: 1;
				}
					
				*:target ~ .item-1 {
					opacity: 0;
				}
					
				#target-item-1:target ~ .item-1 {
					opacity: 1;
				}
					
				#target-item-2:target ~ .item-2, #target-item-3:target ~ .item-3, #target-item-4:target ~ .item-4, #target-item-5:target ~ .item-5, #target-item-6:target ~ .item-6 {
					z-index: 3;
					opacity: 1;
				}
			}
		}
	}
}